@keyframes blink{
  from, to {
    height:20px;
  }
  10% {
    height:10px;
    bottom:80px;
  }
  60%{
    height:2px;
  }
}

@keyframes pupil{
  from, to{
    opacity:1;
  }
  10% {
    opacity:0;
  }
  70%{
    opacity:0;
  }
}

@keyframes eyebrows{
  from, to {
    bottom: 105px;
  }
  50%{
    bottom:95px;
  }
}

@keyframes move{
  from, to {
   transform: translate3d(-250px, 0px, 0px);  
  } 
  25%, 75%{
     transform: translate3d(0px, 10px, 0);
  }
  50%{
     transform: translate3d(250px, 0px, 0);     
  }
}

@keyframes mouth-move{
  from, to{
    right: 75px;
  } 
  50%{
    right: 50px;
    top:80px;
  }
}

@keyframes eyes-move{
   from, to{    
     transform: translate3d(0px, 0px, 0px);
  } 
  50%{
     transform: translate3d(20px, 10px, 0px);
  }
}

@keyframes ear-left-move{
  from,to{
    transform: rotate(-45deg); 
  }
  50% {
    transform: rotate(-20deg); 
  }
}

@keyframes ear-right-move{
  from,to{
    transform: rotate(45deg); 
  }
  50% {
    transform: rotate(55deg);
  }
}

@keyframes right-leg-move{
  from,to{
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(-30deg);
  }  
}

@keyframes left-leg-move{
  from,to{
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(30deg);
  }  
} 

@keyframes jar-move{
  from, to{
    left: 2em;
    bottom:3em;
  }  
  50%{
    left:4em;
    bottom:3.5em;
    
  }
}
@keyframes left-hand-move{
  from, to{
    transform: rotate(-35deg);
  }
  50%{
    transform: rotate(-55deg);
  }
}

@keyframes right-hand-move{
  from, to{
    transform: rotate(35deg);
  }
  50%{
    transform: rotate(55deg);
  }
}